/*-- Body --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --switch-button-url: url(./assets/bandeira-brasil.jpg);
}

.frenchStyle {
  --switch-button-url: url(./assets/istockphoto-657672390-612x612.jpg);
}

body {
  background: linear-gradient(to right, #469eef, #ffffff, #e07169)
    no-repeat;
  height: 100vh;
}

body * {
  font-family: "inter", sans-serif;
}

/*-- Caixa Principal --*/
#container {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  width: 100%;
  max-width: 700px;

  margin: 20px auto;
  padding: 20px;
}

/*-- Linha Numero um contem Perfil e Botão de Tradução --*/
#line1 {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-- Estilizando Perfil --*/
#profile {
  display: flex;
  gap: 5px;
  align-items: center;
}

#profile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#profile p {
  font-weight: 500;
}

/*-- Botão Tradução --*/

#switch {
  position: relative;
  width: 64px;
}

#switch button {
  height: 32px;
  width: 32px;
  border: 1px solid black;
  border-radius: 50%;

  background: var(--switch-button-url) no-repeat center/45px;

  position: absolute;
  z-index: 1;

  transform: translateY(-50%);
  top: 50%;
  left: 0;

  transition: outline 0.2s;
  animation: slide-back 0.5s;
}

.frenchStyle #switch button {
  animation: slide-in 0.5s forwards;
}

#switch button:hover {
  outline: 6px solid rgba(0, 0, 0, 0.2);
}

#switch span {
  height: 34px;
  width: 64px;
  display: block;
  border: 2px solid black;
  border-radius: 9999px;

  z-index: 0;
}

/*-- Linha 2 --*/

#line2 {
  display: flex;
  justify-content: space-between;
}

/*-- Menu --*/
#menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  margin: 10px;

  width: 100%;
  max-width: 600px;

  font-weight: 500;
  font-size: larger;
}

#menu-list summary {
  font-size: larger;
  list-style: none;
}

#menu-list details {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;

  max-width: 150px;
}

#menu-list details ul {
  margin: 10px;

  font-weight: 400;
  font-size: small;
}

/* -- Links Sociais --*/

#contact-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 5px;

  max-height: 240px;
  align-items: center;
  justify-content: center;

  width: 50%;
  max-width: 100px;

  border: 2px solid black;
  border-radius: 10px;

  transition: background 0.5s;
}

#contact-links a {
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  transition: background 0.2s;
  border-radius: 50%;
}

#contact-links a:hover {
  background: rgba(0, 0, 0, 0.2);
}

#line3 {
  display: flex;
  justify-content: space-between;
}

#line3 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
  margin-right: 10px;
}

#line3 ul a {
  color: black;
  display: flex;
  justify-content: center; /*Eixo X*/
  align-items: center; /*Eixo Y*/

  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid black;
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /* Tira o underline */
  font-weight: 500;

  transition: background 0.5s;
}

#line3 ul li a:hover {
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.1);
}

#line3 img {
  width: 100px;
  margin: 0 10px;

  border-radius: 10px;
}

footer {
  margin: 20px;
  text-align: center;
}

footer a {
  color: black;
}

@media (max-width: 470px) {
  #menu-list {
    flex-direction: column;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
