/*-- Reset dos parametros base da pagina --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- Criando variavel para o background do botão br --*/
:root {
  --switch-button-url: url(./assets/bandeira-brasil.jpg);
}
/*-- Criando variavel para o background do botão fr --*/
.frenchStyle {
  --switch-button-url: url(./assets/istockphoto-657672390-612x612.jpg);
}

/*-- Adicionando background tricolor com efeito gradient para melhor efeito visual. --*/
body {
  background: linear-gradient(to right, #469eef, #ffffff, #e07169) no-repeat;
  /*-- Ajustando o tamnho do background para pegar toda a viewport --*/
  min-height: 100vh;
}

/*-- Aplicando a fonte a mesma fonte para toda a pagina. --*/
body * {
  font-family: "inter", sans-serif;
}

/*-- Criando caixa principal --*/
#container {
  /*-- Definindo tamanho adaptavel e maximo --*/
  width: 100%;
  max-width: 700px;

  margin: 20px auto;
  padding: 20px;
}

/*--Criando linhas com display flex--*/
#line1 {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;

  display: flex;
  /*-- Deixa cada elemento de um lado da box --*/
  justify-content: space-between;
  align-items: center;
}

/*-- Estilizando Perfil --*/
#profile {
  display: flex;
  gap: 5px;
  align-items: center;
}

/*-- Estilizando a imagem de perfil --*/
#profile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#profile p {
  font-weight: 500;
}

/*-- Botão Tradução --*/

#switch {
  /*-- Enquadra a position absolute do botão --*/
  position: relative;
  width: 64px;
}

#switch button {
  height: 32px;
  width: 32px;
  border: 1px solid black;
  border-radius: 50%;

  /*-- Set background que muda conforme o modo --*/
  background: var(--switch-button-url) no-repeat center/45px;

  /*-- Posicionando o botão em cima do span --*/
  position: absolute;
  z-index: 1;

  /*-- Centralizando o botão na vertical e colocando ele a esquerda --*/
  transform: translateY(-50%);
  top: 50%;
  left: 0;

  /*-- Animações do botão --*/
  transition: outline 0.2s;
  animation: slide-back 0.5s;
}

/*-- Animação para o modo frenchStyle --*/
.frenchStyle #switch button {
  animation: slide-in 0.5s forwards;
}

/*-- Adiciona uma borda externa quando hover --*/
#switch button:hover {
  outline: 6px solid rgba(0, 0, 0, 0.2);
}

/*-- Estilizando o Span --*/
#switch span {
  height: 34px;
  width: 64px;
  display: block;
  border: 2px solid black;
  border-radius: 9999px;

  z-index: 0;
}

/*-- Linha 2 --*/

#line2 {
  display: flex;
  justify-content: space-between;
}

/* -- Estilizando Lista de links --*/
#line2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  width: 100%;
  margin: 10px;
}

/* -- Estilizando Links --*/
#line2 ul a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /* Tira o underline */
  font-weight: 500;

  transition: background 0.5s;
}

/* -- Anima os links quando hover --*/
#line2 ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* -- Estilizando box de Links Sociais --*/
#contact-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 5px;

  max-height: 240px;
  align-items: center;
  justify-content: center;

  width: 50%;
  max-width: 100px;

  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;

  /* -- Adiciona uma transição ao fundo (deixa mais estetico) --*/
  transition: background 0.5s;
}

/* -- Estilizando Links Sociais --*/
#contact-links a {
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  transition: background 0.2s;
  border-radius: 50%;
}

#contact-links a:hover {
  /* -- Adiciona cor ao fundo quando hover --*/
  background: rgba(0, 0, 0, 0.2);
}

/*-- Terceira Linha --*/
#line3 {
  display: flex;
  justify-content: space-between;
}

/*-- Menu --*/
#menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  /*-- Tira as flechas laterais --*/
  list-style: none;

  /*-- Tamanho adaptavel --*/
  width: 100%;
  max-width: 600px;

  /*-- Estilo de fonte --*/
  font-weight: 500;
  font-size: larger;
}

#menu-list summary {
  font-size: larger;
  list-style: none;
}

#menu-list details {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 5px;

  max-width: 150px;
}

#menu-list details:hover {
  background: rgba(0, 0, 0, 0.2);
}

/*-- Estilizando conteudo das listas --*/
#menu-list details ul {
  margin: 10px;

  font-weight: 400;
  font-size: small;
}

/* -- Adicona imagem Torre --*/
#line3 img {
  width: 100px;
  height: 180px;
  margin: 0 10px;

  border-radius: 10px;
}

/* -- Rodapé --*/
footer {
  margin: 20px;
  text-align: center;
}

footer a {
  color: black;
}

/* -- Adicionando Regras ao CSS --*/

/* -- Permite a adaptação da pagina para dispositivos menores --*/
@media (max-width: 470px) {
  #menu-list {
    flex-direction: column;
  }
}

/* -- Cria as animações do botão --*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
