* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0055a4, #ffffff, #ef4135);
  height: 100vh;
}

#container {
  border: 1px solid black;
  border-radius: 10px;
  background:  rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  width: 100%;
  max-width: 588px;

  margin: 58px auto 0;
  padding: 20px;
}

#line1 {
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

#profile {
  display: flex;
}

#profile img {
  width: 100px;
  border-radius: 100%;
}


